{% extends 'autos/base.html' %}

{% block content %}
<div class="main_content">
    <table class="main_content_table">
        <tr class="main_content_table_header">
            <th>Цена, р</th>
            <th>Название</th>
            <th>Автомобиль</th>
            <th>Доставка, дн</th>
            <th>Ссылка</th>
        </tr>
        {% for AD, EX in requests %}
        {% if AD or EX %}
        <tr>
            <td>
                <a href="{{ AD.spare.get_absolute_url }}">{{AD.price}}</a>
                {% if AD.difference > 0 %}
                <span class="main_content_table_header_dif_plus">(+{{AD.difference}})</span>
                {% elif AD.difference < 0 %}
                <span class="main_content_table_header_dif_minus">({{AD.difference}})</span>
                {% endif %}
                {% if EX.price %}
                <br>
                {{EX.price}}
                {% endif %}
            </td>
            <td>{{AD.spare.name}}</td>
            <td>{{AD.spare.car}}</td>
            <td>{{AD.delivery_time}}</td>
            <td>{% if AD.spare.autodoc_URL %}
                <a href="{{AD.spare.autodoc_URL}}">Autodoc</a>
                {% else %}
                Autodoc
                {% endif %}
                <br>
                {% if AD.spare.exist_URL %}
                <a href="{{AD.spare.exist_URL}}">Exist</a>
                {% else %}
                Exist
                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% empty %}
        Пока что нет актуальных данных
        {% endfor %}
    </table>
</div>
{% endblock %}