.idea
.env
*.pot
*.pyc
__pycache__
db.sqlite3
/autoworld/dbnew.json
/autoworld/media/
/autoworld/db.json
/autoworld/autoworld/prod_settings.py
/autoworld/celerybeat-schedule.bak
/autoworld/celerybeat-schedule.dat
/autoworld/celerybeat-schedule.dir
/autoworld/logs/
/autoworld/static/
/autoworld/celerybeat-schedule*
